#bouncing-ball {
  width: 100px;
  height: 100px;
  background-color: orangered;
  border-radius: 50%;
  animation: bouncy 1s infinite;
}

@keyframes bouncy {
  0% {
    transform: translateY(200px);
    background-color: orangered;
  }
  50% {
    transform: translateY(-20px);
    background-color: orange;
    height: 50px;
  }
  100% {
    transform: translateY(200px);
    background-color: orangered;
    height: 100px;
  }
}
