body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: lightseagreen;
}

/* Moving square */
.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation: moveAndTransform 4s ease-in-out infinite alternate;
  margin-bottom: 40px;
}

@keyframes moveAndTransform {
  0% {
    transform: translateX(0) rotate(0deg);
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  100% {
    transform: translateX(400px) rotate(360deg);
    background-color: red;
  }
}
